<%= simple_form_for @post do |f| %>
<div class="row setup-content" id="step-1">
  <div class="col-xs-12">
    <div class="col-md-11">
      <h3>第一步</h3>
        <%= f.label "姓名", :class => "custom-input"%>
        <%= f.input :name, label: false %>
        <%= f.label "性別" %>
        <%= f.input :gender, label: false, as: :radio_buttons, :collection => [[1, '男'], [2, '女'], [0, '其他']], :label_method => :last, :value_method => :first %>   
        <button class="btn btn-custom nextButton pull-right" type="button">下一步</button>   
    </div>
  </div>
</div>

<div class="row setup-content" id="step-2">
  <div class="col-xs-12">
    <div class="col-md-11">
      <h3>第二步</h3>
      <%= f.label "學系" %>
      <%= f.input :depart, label: false %>
      <%= f.label "信箱" %>
      <%= f.input :email, label: false %>
      <button class="btn btn-custom nextButton pull-right" type="button">下一步</button>       
    </div>
  </div>
</div>

<div class="row setup-content" id="step-3">
  <div class="col-xs-12">
    <div class="col-md-11">
      <h3>第三步</h3>
      <%= f.label "標題" %>
      <%= f.input :title, label: false %>
      <%= tag(:br) %>
      <%= f.label "問題" %>
      <%= f.input :question, label: false %>
      <%= tag(:br) %>
      <%= f.label "是否願意以公開的形式回覆問題？（無論是否，我們都將保證您的名字不會出現在問答中）" %>
      <%= f.input :public, label: false, as: :radio_buttons, :collection => [[true, '是的，我願意公開我的問題！'], [false, '否，我不願意公開我的問題！']], :label_method => :last, :value_method => :first %>
      <div class="input-custom pull-right"><%= f.submit  %></div>
    </div>
  </div>
</div>
<% end %>
