<!DOCTYPE html>
<html>
<head>
  <title>新生提問系統 | 交大學聯會</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="NCTU 新生提問系統">
  <meta name="keywords" content="交大新生提問系統,新生提問系統,交大新生提問,NCTU新生提問系統,新生提問,交大新生,NCTU新生,交大學聯會,NCTU,交大,新生">
  <meta name="author" content="交通大學學聯會資訊部">
  <meta name="robots" content="index,follow">
  <%= csrf_meta_tags %>
  <meta property = "og:site_name" content="交通大學新生提問系統">
  <meta property = "og:image" content = "assets/logo.png">
  <meta property = "og:url" content="https://stunion.nctu.edu.tw/blog/">
  <meta property = "og:type" content="website">
  <meta property = "og:description" content="交大學聯會的新生提問系統，新生有疑問？來新生提問系統就對了">
  <meta property = "og:title" content="交大新生提問系統">
  <link rel="shortcut icon" href="assets/logo.png">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <%= render 'common/navbar' %>
  <div id="main_content" class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= bootstrap_class_for key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= simple_format value %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'common/footer' %>
</body>
</html>
